@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --bg-dark: #1e1e1e;
  --primary-color: blue;
  --btn-color: #4fd1c5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

// layout
.container {
  width: 1200px;
  max-width: 96%;
  margin: 0 auto;
}

// typography
.heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  &.center {
    text-align: center;
  }
}

.text {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 1rem; 
}

// general styling
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 300ms;
  background-color: var(--btn-color);
  padding: 1rem 2rem;
}
